<app-nav-bar></app-nav-bar>
<app-search-nav-bar></app-search-nav-bar>
<app-menu-nav-bar></app-menu-nav-bar>
<div class="container mt-5">
  <div class="row align-items-center">
    <div class="col">
      <div class="card-body-1 col">
        <div class="p-5">
          <small>Maecans non erat</small>
          <br/>
          <strong>HeadPhones</strong>
          <br/>
          <br/>
          <br/>
          <span>Weekend Discount</span>
          <br/>
          <span class="text-danger">$399.0</span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-body-2 col">
        <div class="p-5">
          <small>Maecans non erat</small>
          <br/>
          <strong>HeadPhones</strong>
          <br/>
          <br/>
          <br/>
          <span>Weekend Discount</span>
          <br/>
          <span class="text-danger">$399.0</span>
        </div>        </div>
    </div>
    <div class="col">
      <div class="card-body-3 col">
        <div class="p-5">
          <small>Maecans non erat</small>
          <br/>
          <strong>HeadPhones</strong>
          <br/>
          <br/>
          <br/>
          <span>Weekend Discount</span>
          <br/>
          <span class="text-danger">$399.0</span>
        </div>
      </div>
    </div>
  </div>
</div>


<hr/>
<div class="container">
  <div class="row align-items-start">
    <div class="col-3" *ngFor="let product of productsOfCategory">
      <div class=" mb-3 mt-2" style="width: 18rem;">
          <img src="{{product.images[0]}}" class="card-img-top" alt="product image" style="height: 11rem">
        <div class="card-body">
          <h6 class="card-title pt-4" style="color: #8d8c8c">{{product.title}}</h6>
          <h4 class="text-danger pt-1">${{product.price}}</h4>
          <p class="card-text">{{product.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer-section></app-footer-section>
