<nav class="navbar navbar-expand-lg navbar-light bg-light pt-4 pb-4">
  <span class="left-elements me-auto">
    <ul class="nav nav-pills" style="margin-left: 9rem">

  <li class="nav-item dropdown">
      <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"
      style="background-color: rgba(125,125,125,0.18)">
    <img src="assets/images/burger-menu.png" class="me-3" alt="no logo" style="width: 1.9rem; height:2rem;">
        {{'Categories' | translate}}
  </button>
    <ul class="dropdown-menu w-100">
      <li>
        <a class="dropdown-item" href="#" *ngFor="let category of categories">{{category.name}}<hr class="dropdown-divider"></a>
      </li>
    </ul>
  </li>
  <li class="nav-item ">
    <a class="nav-link text-black" href="#" role="button" aria-expanded="false">{{'Home' | translate}}</a>
  </li>
<!--  <li class="nav-item dropdown ">-->
<!--    <div class="dropdown">-->
<!--    <a class="nav-link dropdown-toggle text-black dropbtn" data-bs-toggle="dropdown" href="#" role="button"-->
<!--       aria-expanded="false">{{'Shop' | translate}}</a>-->
<!--    <ul class="dropdown-menu dropdown-content">-->
<!--      <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--      <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--      <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--      <li><hr class="dropdown-divider"></li>-->
<!--      <li><a class="dropdown-item" href="#">Separated link</a></li>-->
<!--    </ul>-->
<!--    </div>-->
<!--  </li>-->
  <li class="nav-item ">
    <a class="nav-link text-black" href="#">{{'Cell_Phones' | translate}}</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link text-black" href="#">{{'HeadPhones' | translate}}</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link text-black" href="#">{{'Blog' | translate}}</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link " href="#">{{'Contact' | translate}}</a>
  </li>
</ul>
  </span>
    <div class="container-sm d-grid" style="width: 20px">
      <div class="space">
        <img src="assets/images/discount-50.png" class="me-3" alt="no logo" style="width: 1.9rem; height:2rem;">
      </div>
      <div class="space" style="font-size: 10px">
        <a class="nav-link" href="#">{{"Only_this_weekend" | translate}}<a class="nav-link"
                                                                          href="#">{{'Super_Discount' |
          translate}}</a></a>
      </div>
      <div class="space small">
        <img src="assets/images/arrow-d.webp" class="me-auto" alt="no-logo" style="width: 0.8rem; height:0.95rem;">
      </div>
    </div>
</nav>
<hr>
