.logo-image{
  width: 7rem;
  height: 1.5rem;
}
.search-button{
  background-color: #0e0e61;
}

.badge {
  display: inline-block;
  min-width: 0.1em; /* em unit */
  padding: .6em; /* em unit */
  border-radius: 50%;
  font-size: 9px;
  text-align: center;
  background: #f1d844;
  color: #0e0e61;
}

