<nav class="navbar navbar-expand-lg navbar-light bg-light pt-4">
  <div class="container-fluid">
<!--    <a class="navbar-brand" href="#">Navbar</a>-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 " style="margin-left: 9.4rem">
        <li class="nav-item me-5">
          <a class="nav-link active" aria-current="page" href="#">
            <img src="assets/images/logo-dark.png" class="logo-image" alt="no logo">
          </a>
        </li>
        <li class="nav-item me-4">
          <form class="d-flex" style="width: 45rem; height: 3.3rem">
            <input class="form-control " type="search" placeholder="Search" aria-label="Search">
            <button class="btn search-button text-light " type="submit"
                    style="margin-left: -4.56rem;border-right-style: none; width: 6.8rem">Search
            </button>
          </form>
        </li>
        <li class="nav-item me-4">
          <img src="assets/images/user-img-2.png" style="width: 1.99rem; height:2.6rem;" class="bg-light">
        </li>
        <li class="nav-item me-4">
          <a><span style="color: #8d8c8c; font-size: 12px;">Sign In</span>
            <p style="font-size: 13px">Account</p>
          </a>
        </li>
        <li class="nav-item me-4">
          <i class="fa fa-heart-o fa-2x position-relative">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill ">
    0
    <span class="visually-hidden">unread messages</span>
  </span>
          </i>
        </li>
        <li class="nav-item me-4">
          <i class="fa fa-shopping-cart fa-2x position-relative">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill ">
    0
    <span class="visually-hidden">unread messages</span>
  </span>
          </i>
        </li>
        <li class="nav-item me-4">
          <a><span style="color: #8d8c8c; font-size: 12px;">Total</span><br/> <span
            style="font-size: 13px">$0.00
          </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
